form {
    margin: 0 auto;
    display: block;
    max-width: 220px;

}

label {
    display: block;
    text-align: left;
}

input {
    width: 210px;
    display: block;
    margin-bottom: 10px;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    max-width: 925px;;
    margin: 50px auto;
    text-align: center;
}

td,
th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: mediumvioletred;
    color: white;
}
